/Team_8_Project_Proposal.docx
/Team_8_Project_Proposal.pdf
/TSRD_Test
/TSRD_Test_Annotation
/TSRD_Train
/TSRD_Train_Annotation
/__pycache__
/images
/cropped_images
/failed_test_images
/8.zip
/Draft.ipynb
/Team_8_Project_Report.docx
/trained_model.pkl